<section class="grey darken-4" id="Contacts">
    <div class=" aside-contacts z-depth-3 container collection-div">
        <ul class = "collection with-header">
            <li class="collection-header orange"><h4 class="white-text">Lets do buisness</h4></li>
            <li class="collection-item avatar details-container z-depth-3 orange-text ">
                <i class="material-icons circle purple white-text">person</i>
                <span class="title"> Snap </span>
                <p class="black-text">Dex</p>
                    <a  href="#"class="secondary-content">
                        <i class="material-icons purple-text copy"  value="somecopy@gmail.com">content_copy</i>
                        <i class="copyText">handle</i>
                    </a>
                    <a href="#" class="right">
                        <i class="material-icons purple-text copy number"  value="Papa +411234567..">launch</i>
                    </a>

            </li>
            <li class="collection-item avatar details-container z-depth-3 orange-text">
                <i class="material-icons circle purple white-text">person</i>
                <span class="title">Instagram</span>
                <p class="black-text">dex2</p>
                    <a href="#" class="secondary-content">
                        <i class="material-icons purple-text copy"  value="somecopy@gmail.com">content_copy</i>
                        <i class="copyText">handle</i>
                    </a>
                    <a href="#" class="right">
                        <i class="material-icons purple-text copy number"  value="Mummy +411234567..">launch</i>                    
                    </a>

            </li>
            <li class="collection-item avatar details-container z-depth-3 orange-text">
                <i class="material-icons circle purple white-text">person</i>
                <span class="title">Twitter</span>
                <p class="black-text">vorr</p>
                    <a href="#" class="secondary-content">
                        <i class="material-icons purple-text copy"  value="somecopy@gmail.com">content_copy</i>
                        <i class="copyText">handle</i>
                    </a>
                    <a href="#" class="right">
                       <i class="material-icons purple-text copy number"  value="Bella +411234567..">launch</i>
                    </a>

            </li>

            <li class="collection-item avatar details-container z-depth-3 orange-text">
                <i class="material-icons circle purple white-text">person</i>
                <span class="title">WhatsApp</span>
                <p class="black-text">Dexter</p>
                    <a href="#" class="secondary-content">
                     <i class="material-icons purple-text copy"  value="somecopy@gmail.com">content_copy</i>
                     <i class="copyText">handle</i>
                    </a>
                    <a href="#" class="right">
                       <i class="material-icons purple-text copy number"  value="Leon +411234567..">launch</i>
                    </a>

            </li>
     </ul>
</div>
<p class="center-align">
    Copy or use the direct link to the page.
</p>
</section>
   
