<header>
        <section class="container mid">
            <div class="content left-side black purple-text text-darken-3">
                <h3 class="title">If you Like the <span class="diffText iT "> Beats</span>...</h3>
            </div>
            <div class="content  right-side purple darken-3">
                <h3 class="title">...or the website hit the<span class="diffText iT"> Contacts</span></h3>
            </div>
        </section>
    <!-- <div class="text white-text col s12 l6">
        <p>
            My name is dexter I make beats. Have a listen
        </p>
        <p>
            If you are interested in buying a beat or making music with me click the contacts in the menu and lets do buisness
        </p>
        <p>
            If you just wanna have a listen go ahead please like and leave a comment.
        </p> -->
    </div>
</header>