<nav class="nav nav-wrapper grey darken-3" >
    <a href="/dash" class="left"><i class="material-icons" >home</i></a>
    <span class="brand-logo center hide-on-small-only"><a href="/dash">Beats</a></span>
    <ul class="right" style="font-size:2em;">
        <!-- <li><a href="/dash/upload" >Upload</a></li> -->
        <li><a href="#Contacts" >Contacts</a></li>
        <li><a href="/dash/About" >About</a></li>
    </ul>
   </div>
</nav>